<div>
    <h2 class="mb-4">PLAN</h2>
    
    <!-- January -->
    <div class="plan-month">
        <button class="btn w-100 text-start d-flex justify-content-between align-items-center plan-collapse-btn" data-bs-toggle="collapse" data-bs-target="#january-items">
            <span class="fw-medium">January</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg>
        </button>
        
        <div id="january-items" class="collapse show mt-2">
            <div class="plan-item">
                <span>item1</span>
                <div class="text-end text-secondary small">
                    <div>15:10</div>
                    <div>15/04/2025</div>
                </div>
            </div>
            <div class="plan-item">
                <span>item2</span>
                <div class="text-end text-secondary small">
                    <div>15:10</div>
                    <div>15/04/2025</div>
                </div>
            </div>
            <div class="plan-item">
                <span>item3</span>
                <div class="text-end text-secondary small">
                    <div>15:10</div>
                    <div>15/04/2025</div>
                </div>
            </div>
        </div>
    </div>
      <!-- February -->
      <div class="plan-month">
        <button class="btn w-100 text-start d-flex justify-content-between align-items-center plan-collapse-btn" data-bs-toggle="collapse" data-bs-target="#february-items">
            <span class="fw-medium">February</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
        
        <div id="february-items" class="collapse mt-2">
            <div class="text-center text-secondary py-3">
                No items planned for this month
            </div>
        </div>
    </div>
    
    <!-- March -->
    <div class="plan-month">
        <button class="btn w-100 text-start d-flex justify-content-between align-items-center plan-collapse-btn" data-bs-toggle="collapse" data-bs-target="#march-items">
            <span class="fw-medium">March</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
        
        <div id="march-items" class="collapse mt-2">
            <div class="text-center text-secondary py-3">
                No items planned for this month
            </div>
        </div>
    </div>
</div>
