<div class="container my-4">
    <div class="plan-header bg-dark py-2 mbb -2">
        <h1 class="text-center text-white">PLAN</h1>
    </div>

    <div class="accordion" id="monthlyPlanAccordion"
        data-events="<%= encodeURIComponent(JSON.stringify(eventsList)) %>">
        <!-- JavaScript will populate months here -->
    </div>
</div>
<script>
    const calendarBody = document.getElementById('monthlyPlanAccordion');
    const encodedData = calendarBody.dataset.events;

    let eventsList = null;

    try {
        eventsList = JSON.parse(decodeURIComponent(encodedData));
    } catch (err) {
        console.error("Lỗi khi parse JSON:", err);
    }
</script>

<script src="/js/plan.js"></script>